sphinx>=6.0.0
sphinx-rtd-theme>=1.0.0
sphinxcontrib-plantuml>=0.25
sphinxcontrib-applehelp>=1.0.0
sphinxcontrib-devhelp>=1.0.0
sphinxcontrib-htmlhelp>=2.0.0
sphinxcontrib-jsmath>=1.0.0
sphinxcontrib-qthelp>=1.0.0
sphinxcontrib-serializinghtml>=1.0.0